apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: frontend-web:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 80
              name: http
          env:
            - name: VITE_API_URL
              value: "http://app-service.default.svc.cluster.local:4001"